.base_frame {
	-fx-background-color: #E2E2D4;
}

.button {
	-fx-background-color: #E9E9E2;
	-fx-background-radius: 7;
}

.button:hover {
	-fx-background-color: #E6E2E9;
}
 .butotn:hover {
 	
 }
 
 .base_menu {
	-fx-background-color: #E2E2D4;
	
}